<!DOCTYPE html>

<html>
    <body>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                socket.on('connect', function() {
                    document.querySelector('#message').onsubmit = function(event) {
                        event.preventDefault();
                        var chan_name = document.querySelector('#channelname').innerHTML; // THIS NEEDS TO BE RELATED TO SOMETHING FROM THE VIDEOS DB -- can keep the name "chan_name" for the vairable, but change other stuff
                        localStorage.setItem('channel', chan_name);
                        console.log('creating message');
                        const message = document.querySelector('#new_message').value;
                        const username = localStorage.getItem('username');
                        const channel = localStorage.getItem('channel');
                        console.log('sending to server side');
                        socket.emit('submit message', {'channel': channel, 'username': username, 'message': message});
                    }
                });

                socket.on('announce message', function(data) {
                    console.log('at annouce message');
                    const p = document.createElement('p');
                    p.innerHTML = `${data.username}: ${data.message} ${data.timestamp}`;
                    document.querySelector('#messages').append(p);
                    console.log("SOCKET IO WORKKSSSSSIUFERIUIRUEHIURG");
                });
            });


        </script>
        <div id = "messages">
        {% for message in msgs %}
            <p>{{message[0]}}: {{message[1]}} {{message[2]}}</p>
        {% endfor %}
        </div>
        <form id="message">
            <input id="new_message" autocomplete="off" placeholder="Text Message" type="text">
            <button>Submit</button>
        </form>
    </body>
</html>