<!DOCTYPE html>

<html>
    <head><title>DiagnoSEE</title></head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <body>
      <div class="container">
        <img src="/static/eye.png" id="logo" alt="logo">
        <h1>Welcome to DiagnoSEE!</h2>
        <h3><i>To continue, please log in or register for an account</i></h3>
        <button><a href = register.html>Register</a></button>
        <button><a href = login.html>Log In</a></button>
      </div>
    </body>
</html>
