<!DOCTYPE html>

<html>
    <body>

        <script>
            /**
            // creates user, stores in localStorage
            if (localStorage.getItem('user')) {
                uname = localStorage.getItem('user')
                document.querySelector('#check_user').innerHTML = 'Welcome back, ' + uname + '!';
                document.getElementById('new_user').style.visibility = "hidden";
            }
            if (localStorage.getItem('channel')) {
                if (localStorage.getItem('channel') != 'main_page') {
                    var channelsname = localStorage.getItem('channel');
                    window.location.replace = `${channelsname}.html`;
                } else {
                    window.location.replace = `/`;
                }
            } */

            // creates channel from user input, makes sure it doesn't already exist
            function createchannel(event) {
                console.log("in createchannel");
                event.preventDefault();
                const request = new XMLHttpRequest();
                const new_chan = document.querySelector('#channel').value;
                request.open('POST', '/channels');
                const new_data = new FormData();
                new_data.append('chan', new_chan);
                request.send(new_data);

                request.onload = function() {
                    const data = JSON.parse(request.responseText);
                    if (data.error) {
                        document.querySelector('#check_channel').innerHTML = "This channel already exists! Please try a different name.";
                    } else {
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        a.setAttribute('href', new_chan + '.html');
                        a.appendChild(li);
                        li.innerHTML = data.new_channel;
                        document.querySelector('#channels_list').append(a);
                    }
                }
            }
            
            // makes sure all users can see the channels as the automatically refresh onto the page
            function new_channels_update() {
                const req_chans = new XMLHttpRequest();
                req_chans.open('GET', '/populate_channels');
                req_chans.send();

                req_chans.onload = function() {
                    chandat = JSON.parse(req_chans.responseText);
                    var chanss = JSON.parse(chandat.chans);
                    console.log('works');
                    var lis = document.querySelectorAll('#channels_list a');
                    console.log(lis);
                    for (var i = 0; i < lis.length; i++) {
                        console.log('deleting stuff');
                        var a = lis[i];
                        a.parentNode.removeChild(a);
                    }
                    for (var i = 0; i < chanss.length; i++) {
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        a.setAttribute('href', chanss[i] + '.html');
                        a.appendChild(li);
                        li.innerHTML = chanss[i];
                        document.querySelector('#channels_list').append(a);
                    }
                }
            }

            // makes sure user can see all channels when they first open the page
            document.addEventListener('DOMContentLoaded', function() {
                console.log('updating chans list');
                const request_chans = new XMLHttpRequest();
                request_chans.open('GET', '/populate_channels');
                request_chans.send();

                request_chans.onload = function() {
                    console.log('works');
                    chans_data = JSON.parse(request_chans.responseText);
                    var chans = JSON.parse(chans_data.chans);
                    for (var i = 0; i < chans.length; i++) {
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        a.setAttribute('href', chans[i] + '.html');
                        a.appendChild(li);
                        li.innerHTML = chans[i];
                        document.querySelector('#channels_list').append(a);
                    }
                }

                setInterval(new_channels_update, 1000);
                console.log('yeeesssss');
            });

        </script>

        <p id="check_channel"></p>
        <form id="new_channel" onsubmit="createchannel(event)">
            Create a new channel here: <input id="channel" autocomplete="off" placeholder="channel name" type="text">
            <button>Submit</button>
        </form>
        <ul id="channels_list">Here's a list of your channels: </ul>
        
    </body>
</html>