<!DOCTYPE html>

<html>
    <head><title>Clarify</title></head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <body>
      <div class="container">
        <h1>Welcome to Clarify!</h2>
        <h5><i>To continue, please log in or register for an account</i></h5>
        <button><a href = register.html>Register</a></button>
        <button><a href = login.html>Log In</a></button>
      </div>
    </body>
</html>
