<!doctype html>
<html lang="en">
  <head>
      <title>Upload video</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Upload Video</h1>
      <form method=post enctype=multipart/form-data>
        <input type=file name=file required><br><br>
        <label for="selected_physician">Select your physician:</label><br>
        <select id="selected_physician" name="selected_physician">
          {% for physician in physicians %}
            <option value={{physician[0]}}>Physician #{{physician[0]}}</option>
          {% endfor %}
        </select><br><br>
        <label for="title">Add a title to your video:</label><br>
        <input type="text" name="title" required><br>
        <input type=submit value=Upload>
      </form>
      <div class="container">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
          {% endfor %}

          {% block page_content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
